<html ng-app="uploader">
<head>
  <title>Angular Upload</title>
  <!-- External Modules -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="./bower_components/ng-file-upload/ng-file-upload.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./css/style.css">

  <!-- Internal Modules -->
  <script src="./js/app.js"></script>
  <script src="./js/jquery.js"></script>
  <script src="./js/controllers/mainController.js"></script>
</head>
<body ng-controller="MainController as main">



<!-- <aside> -->
<section>

  <img class="absolute" ng-src="{{main.fatface.filestore}}" />
  <div class="absolutediv"> 
    <img class="beard absoluteP" id="beard"  src="./public/beard0.png" />
    <img class="mustache absoluteP" id="mustache" src="./public/mustache0.png" />
    <img class="hat absoluteP" id="hat" src="./public/hat0.png" />
    <img class="necklace absoluteP" id="necklace" src="./public/necklace0.png" />
    <img class="glasses absoluteP" id="glasses" src="./public/glasses0.png" />
    <img class="hair absoluteP" id="hair" src="./public/hair0.png" />
    <img class="afro absoluteP" id="afro" src="./public/afro0.gif" />
  </div>
</section>
<!-- </aside> -->
<input type="checkbox" id="menu-toggle"/>
  <label id="trigger" for="menu-toggle"></label>
  <label id="burger" for="menu-toggle"></label>
  <ul id="menu">
    <li><a  id="beardbutton">Beard</a></li>
    <li><a  id="mustaschebutton">Mustasche</a></li>
    <li><a  id="hatbutton">Hat</a></li>
    <li><a  id="necklacebutton">Necklace</a></li>
    <li><a  id="glassesbutton">Glasses</a></li>
    <li><a  id="hairbutton">Hair</a></li>
    <li ng-click="main.getVideo()">Make Webcam</li>
    <li ng-click="main.takephoto()">Take photo</li>
    <li><form name="main.form" ng-submit="main.uploadSingle()">
      <input type="file"ngf-select ng-model="main.file" name="file">Select photo</div>
      <button type="submit">Upload photo</button>
    </form></li>

  </ul>




<!-- 

  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Face-off</a>
      </div>
      <div class="navbar-collapse collapse">

      
          <ul class="nav navbar-nav">
            <li><a  id="beardbutton">Beard</a></li>
            <li><a  id="mustaschebutton">Mustasche</a></li>
            <li><a  id="hatbutton">Hat</a></li>
            <li><a  id="necklacebutton">Necklace</a></li>
            <li><a  id="glassesbutton">Glasses</a></li>
            <li><a  id="hairbutton">Hair</a></li>
            <li><a  id="afrobutton">Afro</a></li>

            <li ng-class="{bignoseRED: (main.fatface.nose > 26),bignoseGREEN: (main.fatface.nose < 24), bignoseAMBER: (main.fatface.nose > 24 && main.fatface.nose < 26)}"><a>Nose takes up: {{main.fatface.nose | number : fractionSize}} %</a></li>

          </li>
        </ul>
    </li>
  </ul>
</li>
</ul> -->

<!-- Right nav -->


</div><!--/.nav-collapse -->
</div><!--/.container -->
</div>



<main class="margintop-sdsd">
<video autoplay="true" id="videoElement">
 
</video>


  <div class="sidebar-ssd">





   


    <!-- WEBCAM TESTS -->
    
    <input type="file" accept="image/*;capture=camera">
    
    <canvas id="canvas" ng-show="main.wantthistoshow">
    </canvas>
    <div class="output" ng-show="main.wantthistoshow">
      <img id="photo" alt="The screen capture will appear in this box.">
    </div>
    



  </div>





</main>
</body>
</html>