<html ng-app="App">
<head>
  <title>Faceoff - Webcam & Image Toy</title>
  <!-- External Modules -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1-beta.2/Chart.min.js"></script>
  <script src="./js/angular.min.js"></script>
  <script src="./js/angles.js"></script>
  <script src="./js/mapbox.js"></script>
  <script src="./js/jquery.min.js"></script>
  <script src="./bower_components/ng-file-upload/ng-file-upload.min.js"></script>>
 <link rel="stylesheet" href="./css/fontawesome.css">
  <link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="./css/style.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <!-- Internal Modules -->
  <script src="./js/app.js"></script>
  <script src="./js/skroller.js"></script>
  <script src="./js/jquery.js"></script>
  <script src="./js/controllers/mainController.js"></script>
</head>
<body ng-controller="MainController as main">

<div class="container"  id="skrollr-body" data-0="background-color:rgb(0,201,147);"data-400="background-color:rgb(74,173,255);" data-1000="background-color:rgb(74,173,255);"data-1300="background-color:rgb(0,201,147);">
  <span class="logo"><i class="fa fa-smile-o" aria-hidden="true"></i><br/></span>
  <span class="header">FACEOFF</span>
  <p class="tagline"> Learn about your face ways you never thought of </p>
  
  <a class="arrow" href="#anchor1"><i class="icon-sort-down"></i></a>
  </p>

<div class="section" id="sect1">
  <div class="anchor" id="anchor1"></div>
  <div id="hiddenIcon">
    <span class="takePhotoMobileIcon"><i class="fa fa-camera takePhotoMobileIcon" ng-click="main.getVideo()" aria-hidden="true"></i></span>
        </div>
  <div id="phone" data-0="margin-left: -20%; opacity:0" data-350="margin-left: 10%; opacity:1">
    
    <div id="topBar">
      <p>Press--->  <i class="icon-bookmark"></i>         </p>
       </div>
    <div id="screen"> 
    <video ng-show="main.showVideo" autoplay="true" id="videoElement">
    </video>
    <canvas id="canvas" ng-show="main.snapShotShow">
    </canvas>
    <div class="output" ng-show="main.wantthistoshow">
      <img id="photo" alt="The screen capture will appear in this box.">
    </div>
    <span class="takephotoIcon" ng-click="main.getVideo()"><i class="fa fa-camera" aria-hidden="true"></i></span>
 <!--      <div id="map">    
          <img id="placemark" class="notPlacemarked" src="http://s.cdpn.io/52524/CircleMarkerTest3.png">    
      </div>  -->
    </div><!--/ screen-->
    </div><!--/ phone-->
  <div class="explanation" data-300="opacity: 0" data-350="opacity: 1">
  <h2>We need your picture...</h2>
    <p>Then we can analyse your face and provide various stats.</p>
    <a class="arrow" href="#anchor2"><i class="icon-sort-down"></i></a>
    </div><!--/ explanation-->
  </div><!--/ sect1-->
  
  <div class="section" id="sect2">
    <div class="anchor" id="anchor2"></div>
    <div id="hiddenIcon">
    <i class="icon-twitter"></i>
        </div>
    <div id="twitter"  data-600="margin-top: -20%; opacity: 0" data-1000="margin-top: 0; opacity:1">
    <i class="fa fa-pie-chart"></i>
    </div>
    <div class="explanation" data-850=" opacity: 0" data-900=" opacity:1">
    <h2>Ok these are the results</h2>
  
    <!-- https://github.com/gonewandering/angles -->
<container class="chartsContainer">
  <canvas chart="Doughnut" legend=false options="options" data="main.chart" width="300" height="300"></canvas>
</container>



      <a class="arrow" href="#anchor3"><i class="icon-sort-down"></i></a>
    </div><!--/ explanation-->
  </div><!--sect2-->
  
    <div class="section" id="sect3">
    <div class="anchor" id="anchor3"></div>
    <container id="facesection"></section>
      <span class="facetext">And this is your face</span>
      <li><a  id="beardbutton">Beard</a></li>
      <li><a  id="mustaschebutton">Mustasche</a></li>
      <li><a  id="hatbutton">Hat</a></li>
      <li><a  id="necklacebutton">Necklace</a></li>
      <li><a  id="glassesbutton">Glasses</a></li>
      <li><a  id="hairbutton">Hair</a></li>
    </container>
    <section>
    <div class="FaceimageBox"> <img ng-src="{{main.fatface.filestore}}" width="400px" height="300px" /></div>
   <div class="absolutediv"> </div>
       <img class="beard absoluteP" id="beard"  src="./public/beard0.png" />
       <img class="mustache absoluteP" id="mustache" src="./public/mustache0.png" />
       <img class="hat absoluteP" id="hat" src="./public/hat0.png" />
       <img class="necklace absoluteP" id="necklace" src="./public/necklace0.png" />
       <img class="glasses absoluteP" id="glasses" src="./public/glasses0.png" />
       <img class="hair absoluteP" id="hair" src="./public/hair0.png" />
    <!--    <img class="afro absoluteP" id="afro" src="./public/afro0.gif" /> -->
     </div>
     </section>

      <div id="hiddenIcon">
    <i class="icon-rocket icon-rotate-180"></i>
        <p></p>
        </div>
    <div class="explanation-right" data-1350=" opacity: 0" data-1400=" opacity:1">
   
    <p>Email a picture of this to yourself </p>
<!-- Begin MailChimp Signup Form -->

<div id="mc_embed_signup">
<form action="someaction">
  
  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="me@example.com" onfocus="this.placeholder = ''" onblur="this.placeholder = 'me@example.com'" required>
  <div><input type="submit" value="I want it!" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->
    </div><!--/ explanation-->
      <div id="rocket" data-1100="margin-top:-300px; margin-right:0%; opacity: 0" data-1400="margin-top:50; margin-right:20%; opacity:1">
    <i class="icon-rocket icon-rotate-180"></i>
    </div><!--/ rocket-->
  </div><!--sect2-->
<div class="section" id="footer">
  <p> thank you and follow <a href="https://twitter.com/vincelynch">@vincelynch</a></p>
  </div>
</div><!--/ band-->







</body>
</html>