
@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Signika");
@import url("https://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css");
@import url("https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css");
html {
  font-family: 'Signika', sans-serif;
}

body {
  background: #DDD7D1;
}

li {
  font-size: 18px;
}


/*.container {
  padding: 50px 0;
  text-align: center;
}*/

.chart {
  position: relative;
  display: inline-block;
  color: #999;
  font-size: 20px;
  text-align: center;
}
.chartsContainer{
position: absolute;
display: block;
width: 80%;
margin-left: 20%;
}


figure{
  margin-right: 100px;
  padding: 25px;
}

.chart figcaption {
  padding: 50px 25px;
  width: 100px;
  height: 50px;
  line-height: 50px;
  color: white;
}

.chart img {
  position: absolute;
  max-width: 100px;
  max-height: 100px;
}
/* END Container styles */

/* Colors for the circles and positions for the graphics */
.html {
  top: 50px;
  left: 45px;
}

.html + svg .outer {
  stroke: #e34f26;
}

.css {
  top: 55px;
  left: 48px;
}

.css + svg .outer {
  stroke: #0d84ce;
}

.javascript {
  max-width: 90px;
  max-height: 90px;
  top: 45px;
  left: 45px;
}

.javascript + svg .outer {
  stroke: #f0e040;
}

.node {
  width: 200px;
  height: 200px;
  top: 45px;
  left: 45px;
}

.node + svg .outer {
  stroke: #83cd29;
}

.chart svg {
  position: absolute;
  top: 0;
  left: 0;
}

.outer {
  fill: transparent;
  stroke: #333;
  stroke-width: 20;
  stroke-dasharray: 534;
  transition: stroke-dashoffset 1s;
  -webkit-animation-play-state: running;
  
  /* firefox bug fix - won't rotate at 90deg angles */
  -moz-transform: rotate(-89deg) translateX(-190px);
}

.chart:hover .outer {
  stroke-dashoffset: 534 !important;
  -webkit-animation-play-state: paused;
}
/* END Circle colors and graphic positions */


/* Set the initial values for the animation */
.chart[data-percent='100'] .outer {
  stroke-dashoffset: 0;
  -webkit-animation: show100 2s;
  animation: show100 2s;
}

.chart[data-percent='75'] .outer {
  stroke-dashoffset: 133;
  -webkit-animation: show75 2s;
  animation: show75 2s;
}

.chart[data-percent='50'] .outer {
  stroke-dashoffset: 267;
  -webkit-animation: show50 2s;
  animation: show50 2s;
}

.chart[data-percent='25'] .outer {
  stroke-dashoffset: 401;
  -webkit-animation: show25 2s;
  animation: show25 2s;
}
/* END set initial animation values */

/* Keyframes for the initial animation */
@-webkit-keyframes show100 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes show100 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes show75 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 134;
  }
}

@keyframes show75 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 124;
  }
}

@-webkit-keyframes show50 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 267;
  }
}

@keyframes show50 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 267;
  }
}

@-webkit-keyframes show25 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 401;
  }
}

@keyframes show25 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 401;
  }
}
/* END Keyframes for the initial animation */

#facesection{
  background: #DDD7D1;
  border-radius: 30px;
  box-shadow: 0 0.5em 0 #BCB1A5;
  padding: 50px 18px 50px 18px;
  min-width: 400px;
  max-width: 400px;
  display: inline-block;
  position: absolute;
  margin-top: -150px;
  margin-left: 5%;
}


section {
z-index: 20;
position: absolute;
width: 400px;
height: 300px;
display: inline-block;
margin-top: -150px;
margin-left: 500px;
}

.absolutediv {
width: 400px;
height: 300px;
position: absolute;
display: block;
z-index: 2;

}
.FaceimageBox {
  position: absolute;
  display: inline-block;
  display: inline; 
  z-index: 1; 
}



.facetext{
  font-size: 28px;
  vertical-align: text-top;
  display: inline-block;
  vertical-align: top; /* here */
}

/* DOESNT DO ANYTHING
.absolute img {

  width: 40px;
  height: 30px;
  position: absolute;
  display: inline-block;
  z-index: 1;
  top: 0px;
  margin-top: 0px;
  margin-right:  0%;
}*/



.hat {
  height: 200px;
  width: 200px;
  position: absolute;
  z-index: 7;
}
.necklace {
  height: 200px;
  width: 200px;
  position: absolute;
  z-index: 5;
}

.glasses {
  height: 200px;
  width: 200px;

  position: absolute;
  z-index: 7;
}

.hair {
  height: 200px;
  width: 200px;

  position: absolute;
  z-index: 6;
}
.afro {
  height: 200px;
  width: 200px;

  position: absolute;
  z-index: 8;
}

li { cursor: pointer; cursor: hand; }

.mustache {
  width: 120px;
/*  margin-left: 364px;
  margin-top: 300px; */
  position: absolute;
  z-index: 4;
}
.beard {
 /* 
 margin-left: 322px;
  margin-top: 269px; 
  width: 228;will be width of head*/
  width: 120px;
  position: absolute;
  z-index: 3;

}

.header {
  font-size: 70px;
}

.logo {
  font-size: 19vw;
}

.tagline {
  font-size: 20px;
}

.takephotoIcon {
  font-size: 70px;
  position: absolute;
  color: red;
  vertical-align:middle;
  margin-left: 25%;
  margin-top: 50%;
}

.takePhotoMobileIcon{

}

.takePhotoMobileIcon:hover{
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.2);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.2);   
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.2);
  transition: all 200ms ease-in;
  transform: scale(1.2);
  color: red;
}

.takephotoIcon:hover{
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.2);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.2);   
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.2);
  transition: all 200ms ease-in;
  transform: scale(1.2);
}

#map {
  position: absolute;
  top: 0px;
  bottom: 0;
  width: 100%;
  height: 2000px;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/52524/NewYork2_bg.png");
}

.notPlacemarked {
  visibility: hidden;
}

.placemarked {
  visibility: visible;
  height: 55px;
  width: 55px;
  position: relative;
  top: 110px;
  margin-left: 40%;
  z-index: 100;
  transition: width 1s, height 1s, transform 1s;
  -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
}

.container {
  background: #00C993;
  position: absolute;
  display: block;
  width: 100%;
  height: 2050px;
  color: white;
  text-align: center;
  min-width: 24px;
}

.section {
  position: absolute;
  display: block;
  width: 100%;
  color: white;
  text-align: left;
}

#sect1 {
  top: 400px;
}

#sect2 {
  top: 1000px;
}

#sect3 {
  top: 1700px;
}

#footer {
  top: 2050px;
  height: 50px;
  text-align: center;
}

#twitter {
  float: left;
  width: 20%;
  font-size: 5em;
  padding-left: 15%;
}

#rocket {
  float: right;
  width: 20%;
  font-size: 5em;
  padding-left: 15%;
}

#hiddenIcon {
  text-align: center;
  visibility: hidden;
  height: 0;
  font-size: 5em;
}

.anchor {
  height: 100px;
}

band2 h2 {
  text-align: left;
}



.explanation {
  min-width: 12.42em;
  float: left;
  width: 40%;
}

.explanation-right {
  min-width: 12.42em;
  float: left;
  text-align: right;
  padding-left: 5%;
  width: 40%;
}

#phone {
  background: #DDD7D1;
  border-radius: 30px;
  box-shadow: 0 0.5em 0 #BCB1A5;
  padding: 50px 18px 50px 18px;
  width: 20%;
  min-width: 200px;
  max-width: 400px;
  margin-right: 5%;
  float: left;
}

#screen {
  background: #ffffff;
  height: 300px;
  overflow: hidden;
  padding: 0;
  position: relative;
  min-width: 160px;
}

video {
  height: 300px;
  overflow: hidden;
  padding: 0;
  position: relative;
  min-width: 160px;
  background-position: -80px 0px;
  margin-left: -150px;
}
canvas {
  height: 300px;
  overflow: hidden;
  padding: 0;
  position: relative;
  min-width: 160px;
  background-position: -80px 0px;
  margin-left: -150px;
}

#photo{
  height: 300px;
  overflow: hidden;
  padding: 0;
  position: relative;
  min-width: 160px;
  background-position: -80px 0px;
  margin-left: -150px;
}

#topBar {
  background: #00C993;
  height: 10%;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  min-width: 100px;
}

#mc_embed_signup {
  text-align: right;
  background-color: #00C993;
}

#mce-EMAIL {
  text-align: right;
  width: auto;
  height: 30px;
  margin-bottom: 20px;
  padding-right: 1em;
  border-style: none;
  outline: none;
}

#mce-EMAIL:focus {
  outline: none;
}

#mc-embedded-subscribe {
  border-style: none;
}

.icon-bookmark {
  float: right;
}

.icon-bookmark:hover {
  color: #FFC52F;
}

.pressed {
  color: #FFC52F;
}

h1, h3 {
  font-family: 'Signika', sans-serif;
  font-weight: 1000;
  font-size: 43px;
  text-align: center;
}

.container h1 {
  font-size: 5em;
  line-height: 1em;
  /*margin-bottom: 1em;*/
}

a {
  color: white;
}

.button {
  background: #DDD7D1;
  text-align: center;
  padding: .5em 1em;
  color: white;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 0.2em 0 #BCB1A5;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  /*transition cross-browser stuff*/
  -webkit-transition: background 0.2s ease-out;
  /* Safari 3.2+, Chrome */
  -moz-transition: background 0.2s ease-out;
  /* Firefox 4-15 */
  -o-transition: background 0.2s ease-out;
  /* Opera 10.5–12.00 */
  transition: background 0.2s ease-out;
  /* Firefox 16+, Opera 12.50+ */
}

.button:hover {
  background: #BCB1A5;
}

a.arrow {
  color: white;
  text-align: center;
  font-size: 3em;
  text-decoration: none;
  padding-bottom: 30px;
  /*transition cross-browser stuff*/
  -webkit-transition: color 0.2s ease-out;
  /* Safari 3.2+, Chrome */
  -moz-transition: color 0.2s ease-out;
  /* Firefox 4-15 */
  -o-transition: color 0.2s ease-out;
  /* Opera 10.5–12.00 */
  transition: color 0.2s ease-out;
  /* Firefox 16+, Opera 12.50+ */
}

a.arrow:hover {
  color: #FFC52F;
}



@media only screen and (min-width: 767px) {
  body {
    font-size: 1.125em;
    /* 18px / 16px */
  }

  .container {
    background-size: 100%;
  }

  .container h1 {
    font-size: 3.25em;
    /*52 / 16*/
  }

  a.button {
    padding: .75em 1.5em;
  }
}
@media only screen and (max-width: 550px) {
  .explanation {
    float: none;
    margin: auto;
    text-align: center;
  }

  .explanation-right {
    float: none;
    margin: auto;
    text-align: center;
  }

  #sect1 {
    top: 350px;
  }

  #phone {
    visibility: hidden;
    height: 0px;
    width: 0px;
    padding: 0;
    margin: 0;
  }

  #map {
    width: 0px;
    height: 0px;
  }

  #sect2 {
    top: 900px;
  }

  #rocket {
    visibility: hidden;
  }

  #twitter {
    visibility: hidden;
    padding-left: 0em;
  }

  #hiddenIcon {
    visibility: visible;
    height: auto;
  }

  #mce-EMAIL {
    text-align: center;
    padding: 0;
    float: none;
  }

  #mc_embed_signup {
    text-align: center;
  }


section {
  width: 100%;
  display: block;
  margin-top: 150px;
  margin-left: 25px;
}
  .absolutediv {
  width: 400px;
  height: 300px;
  border: red 1px solid;
  position: absolute;
  display: block;
  z-index: 2;
  margin: 0 auto;
  }
  .FaceimageBox {
    position: absolute;
    display: block; 
    z-index: 1; 
    margin: 0 auto;

  }
  #footer {
    top: 2550px;
    height: 50px;
    text-align: center;
  }
  .container {
    background: #00C993;
    position: absolute;
    display: block;
    width: 100%;
    height: 2550px;
    color: white;
    text-align: center;
    min-width: 24px;
  }
}



